.Footer i{
    font-size: 20px;
    border: 1px solid rgb(238, 75, 105);
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

h6, small{
        color: rgb(238, 75, 105);
}
.Footer div a{
    color: rgb(238, 75, 105); 
}