a{
    text-decoration:none;

}
nav{
    border-bottom: 1px solid;
}
.navbar-brand{
    font-size: 35px;
}
.navbarRoute{
    text-decoration: none;
    margin: 7px 7px;
}
.nav-item{
    color: rgb(220,53,69);
}
.navBarBg{
    background-image: linear-gradient(to right, rgb(21 18 46), rgb(37, 36, 71), rgb(22 ,20 ,48) );
}
