.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 420px;
  height: auto;
  box-shadow: 0 0 10px 3px rgb(26, 23, 23);
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color:rgb(249, 0, 77);
  text-align: center;
}
.swiper-slide img {
  display: block;
  width: 75%;
}
.fa-star{
  color: gold;
}